[submodule "minecraft-fig"]
	path = minecraft-fig
	url = git@github.com:themattrix/minecraft-fig.git
[submodule "bash-concurrent"]
	path = bash-concurrent
	url = git@github.com:themattrix/bash-concurrent.git
